<h1><%= @user.username %>'s Homepage</h1>

<br><br>
<%= link_to "New Recipe", new_user_recipe_path(@user) %>

<br><br>


<h2>Logged Recipes</h2>
<%= render 'recipes/recipes' %>

<ul id="recipes">
</ul>

<script type="text/javascript" charset="utf-8">
  const recipe_ids=<%= @recipes.map{|recipe| recipe.id} %>;
  recipe_ids.forEach(function(recipe_id) {
    $.get("/recipes/" + recipe_id + ".json", function(recipe_data) {
      $("#recipes").append(`<li>${recipe_data["food_amount"] ? recipe_data["food_amount"] : ''} ${recipe_data["food_unit"]} ${recipe_data["food"]["animal"]} ${recipe_data["food"]["cut"]}  <button class="js-more" data-id="${recipe_id}">See Full Recipe</button></li>`);
    });
  });
</script>
