<h1><%= @user.username %>'s Homepage</h1>

<br><br>
<%= link_to "New Recipe", new_user_recipe_path(@user) %>

<br><br>


<h2>Logged Recipes</h2>
<%= render 'recipes/recipes' %>

<div id="recipes">
  <p id="recipeLink"></p>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
    $.get("/users/" + <%= @user.id %> + ".json", function(data) {
      $(".recipeLink").text(data);
    });
});
</script>
